@import '/node_modules/react-grid-layout/css/styles.css';
@import '/node_modules/react-resizable/css/styles.css';

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 14px;
}

.App {
  text-align: center;
  /* height: 100vh;
  width: 100vw; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #3dcd58;
  min-height: 50px;
}

.App-header h1 {
  font-size: 2rem;
  color: #ffffff;
}

.App-actions {
  padding: 1rem .5rem;
  text-align: left;

}

.App-actions button {
  margin-right: 1rem;
  padding: 3px 6px;
  font-size: 1rem;
}

.App-dashboard {
  height: calc(100vh - 50px - 55px);
  background-color: #f8f8f8;
  overflow-y: auto;
}

.dashboard-panel {
  border: 1px solid #e0e0e0;
  box-shadow: 1px 1px 25px 0 #dbdbdb;
}

@keyframes App-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}
