.grid-board {
  position: relative;

  &-layout {
    
  }

  &-panel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    background-color: #fff;
    box-shadow: 1px 1px 25px 0 #dbdbdb;

    &-header {
      padding: 6px 10px;
      border-bottom: 1px solid #dbdbdb;
    }

    &-content {
      flex: 1;
      padding: 6px 10px;
      overflow: auto;
    }

    &-footer {
      padding: 6px 10px;
      border-top: 1px solid #dbdbdb;
    }
  }

  &-skeleton {
    position: absolute;
    top: 0;
    left: 0;

    &-row {
      font-size: 0;
      margin-bottom: 24px;
      height: 72px;
      white-space: nowrap;
    }

    &-block {
      display: inline-block;
      width: 112px;
      height: 72px;
      margin-right: 24px;
      border-radius: 8px;
      background-color: #e7ebee;
    }
  }
}
